{{ mta_sts_hoster }}:443 {
	bind 0.0.0.0
	header Content-Type text/plain
	respond /.well-known/mta-sts.txt 200 {
		body `version: STSv1
mode: enforce
max_age: 2419200
{% for record in mx_records %}
mx: {{ record }}
{% endfor %}
`
		close
	}
	respond * 404
}
